/* Global Stylings */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-font: "Lato", sans-serif;
  --secondary-font: "Montserrat";
  --wide: 'Montserrat', sans-serif;
  --normal: 'Roboto', sans-serif;
  --black: #222831;
  --black-light: #393E46;
  --white: #fff;
  --red: red;
  --light-red: #f34b54;
  --green: rgb(78, 134, 77);
  --blue: #00ADB5;
  --single-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19);
  --double-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19), -5px -5px 10px rgba(0, 0, 0, 0.19);
  --transition-normal: 0.3s ease;
}

/* Home Page */
.home-container {
  display: flex;
  padding: 1rem 4rem;
  justify-content: space-between;
  min-height: 80vh;
  height: auto;

  .home-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    & h1 {
      font-size: 2.5rem;
      font-family: var(--wide);
      font-weight: 600;
      color: var(--white);
    }

    & p {
      color: var(--white);
    }

    .home-btn {
      background-color: var(--light-red);
      width: auto;
      max-width: 75%;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--white);
      text-decoration: none;
      font-weight: 600;
      padding: 12px;
      transition: var(--transition-normal);
    }

    .home-btn:hover {
      background-color: #dd353d;
    }

    .stats {
      display: flex;
      padding: 1rem 0;
      justify-content: flex-start;
      gap: 5rem;
      z-index: 1;
      color: var(--white);

      .stat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        scale: 1.1;

        & h2 {
          text-decoration: underline;
          text-decoration-color: var(--light-red);
          text-decoration-thickness: 5px;
        }
      }
    }
  }

  .home-right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-img {
      width: 100%;
    }
  }
}

/* Register Page */
.register-parent {
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  .register-left {
    width: 40%;

    & img {
      width: 100%;
    }
  }

  .register-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.75rem;
    padding: 2rem 4rem;

    .register-labels {
      display: flex;
      justify-content: flex-start;
      gap: 1.75rem;
      align-items: center;
    }

    .image-input {
      opacity: 1;
      background-color: red;
      display: none;
    }

    .role-label {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: var(--black);
      font-weight: 600;
      font-size: 16px;

      & select {
        color: var(--black-light);
        font-weight: 500;
        font-size: 16px;
        padding: 8px 16px;
        outline: none;
      }
    }

    & h1 {
      display: flex;
      gap: 10px;
      font-family: var(--wide);
      font-size: 1.75rem;

      & p {
        color: var(--yellow);
      }
    }

    & input {
      outline: invert;
      padding: 8px 12px;
      font-size: 1rem;
      font-weight: 500;
    }

    .register-btn {
      background-color: var(--yellow);
      padding: 8px 12px;
      text-align: center;
      font-weight: 400;
      font-size: 1.2rem;
      cursor: pointer;

    }

    .register-btn:hover {
      font-weight: 600;
    }

    .register-olduser {
      text-align: center;
      font-size: 1rem;
      color: var(--black-light);

      .register-login-redirect {
        font-weight: 600;
        text-decoration: underline;
        color: var(--black);
      }
    }


  }
}

/* Media Query 1000px */
@media only screen and (max-width:1000px) {
  .home-container {
    flex-direction: column;
    padding: 4rem 2rem;
    gap: 0rem;

    .home-left {
      width: 100%;
      align-items: center;
      gap: 2rem;
      display: flex;
      border-radius: 2rem 0 2rem 0;

      & h1 {
        font-size: 2.5rem;
        font-family: var(--wide);
        font-weight: 600;
        text-align: center;
      }

      & p {
        text-align: center;
      }

      .stats {
        gap: 2rem;

        .stat {
          align-items: center;
          scale: 1;
        }
      }
    }

    .home-right {
      /* width: 75%; */
      width: 100%;
    }

  }

  /* Register */
  .register-parent {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
    gap: 2rem;

    .register-left {
      width: 100%;

      & img {
        width: 100%;
      }
    }

    .register-right {
      width: 100%;
      padding: 1rem;

    }
  }
}

@media only screen and (max-width:800px) {

  /* Register Page */
  .register-parent {
    padding: 3rem;

    .register-right {
      padding: 0rem;
    }
  }
}

/* Media Query 520px */
@media only screen and (max-width:520px) {
  .home-container {
    padding: 1rem 1rem;

    .home-left {
      & h1 {
        font-size: 2rem;
      }
    }

    .home-right {
      /* display: none; */
      width: 100%;
    }
  }

  /* Register Page */
  .register-parent {
    padding: 1rem;

    .register-right {
      padding: 0rem;

      & h1 {
        font-size: 1.5rem;
      }
    }
  }
}