/* Global Stylings */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-font: "Lato", sans-serif;
  --secondary-font: "Montserrat";
  --wide: 'Montserrat', sans-serif;
  --normal: 'Roboto', sans-serif;
  --black: #222831;
  --black-light: #393E46;
  --white: #fff;
  --dark-red:#d0353d;
  --light-red: #f34b54;
  --green: rgb(78, 134, 77);
  --blue: #00ADB5;
  --single-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19);
  --double-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19), -5px -5px 10px rgba(0, 0, 0, 0.19);
  --transition-normal: 0.3s ease;
}

