.app {
    padding: 0rem 2rem;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background: url('../../assets/homeBG.webp');
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-container {
    z-index: 2;
    min-height: 85vh;
}

@media only screen and (max-width:520px) {
    .app{
        padding: 0rem 5px;
    }
}