/* Home Page */
.home-container {
    display: flex;
    padding: 1rem 4rem;
    justify-content: space-between;
    min-height: 80vh;
    height: auto;

    .home-left {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;

        & h1 {
            font-size: 2.5rem;
            font-family: var(--wide);
            font-weight: 600;
            color: var(--white);
        }

        & p {
            color: var(--white);
        }

        .home-btn {
            background-color: var(--light-red);
            width: auto;
            max-width: 75%;
            border-radius: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            text-decoration: none;
            font-weight: 600;
            padding: 12px;
            transition: var(--transition-normal);
        }

        .home-btn:hover {
            background-color: #dd353d;
        }

        .stats {
            display: flex;
            padding: 1rem 0;
            justify-content: flex-start;
            gap: 5rem;
            z-index: 1;
            color: var(--white);

            .stat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                scale: 1.1;

                & h2 {
                    text-decoration: underline;
                    text-decoration-color: var(--light-red);
                    text-decoration-thickness: 5px;
                }
            }
        }
    }

    .home-right {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;

        .home-img {
            width: 100%;
        }
    }
}

/* Media Query 1000px */
@media only screen and (max-width:1000px) {
    .home-container {
        flex-direction: column;
        padding: 4rem 2rem;
        gap: 0rem;

        .home-left {
            width: 100%;
            align-items: center;
            gap: 2rem;
            display: flex;
            border-radius: 2rem 0 2rem 0;

            & h1 {
                font-size: 2.5rem;
                font-family: var(--wide);
                font-weight: 600;
                text-align: center;
            }

            & p {
                text-align: center;
            }

            .stats {
                gap: 2rem;

                .stat {
                    align-items: center;
                    scale: 1;
                }
            }
        }

        .home-right {
            /* width: 75%; */
            width: 100%;
        }

    }
}

/* Media Query 520px */
@media only screen and (max-width:520px) {
    .home-container {
        padding: 1rem 1rem;

        .home-left {
            & h1 {
                font-size: 2rem;
            }
        }

        .home-right {
            /* display: none; */
            width: 100%;
        }
    }
}