/* Navbar */
.navbar-parent {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  min-height: 15vh;
  align-items: center;
  z-index: 2;

  .nav-left {
    width: 33%;
    .logo-link {
      display: flex;
      gap: 10px;
      align-items: center;
      font-family: var(--wide);
      color: var(--white);
      text-decoration: none;

      .logo-img {
        font-size: 2.25rem;
      }

      .logo-name {
        font-size: 2rem;
        display: flex;
        font-weight: 700;
        font-family: var(--secondary-font);
        
        & p {
          font-weight: 900;
          color: var(--dark-red);
        }
      }
    }
  }

  .nav-center {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    :hover {
      text-decoration: underline;
      text-decoration-color: var(--light-red);
      text-decoration-thickness: 4px;
    }

    .navlink {
      display: flex;
      gap: 5px;
      align-items: center;
      text-transform: capitalize;

      .navlink-link {
        color: var(--white);
        text-decoration: none;
        font-size: 1.2rem;
        transition: var(--transition-normal);
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    z-index: 100;
    width: 33%;
    justify-content: end;

    .user-nav {
      display: flex;
      justify-content: right;
      align-items: center;
      border-radius: 33px;
      background-color: var(--light-red);
      text-decoration: none;
    }

    .user-icon {
      margin: 4px;

      & i {
        background-color: var(--white);
        color: var(--light-red);
        width: 100%;
        font-size: 1rem;
        padding: 0.5rem;
        height: 100%;
        border-radius: 50%;
        transition: var(--transition-normal);

        &:hover {
          background-color: var(--light-red);
          color: var(--white);
        }
      }
    }

    .login-btn {
      background-color: var(--white);
      padding: 8px 12px;
      border-radius: 2px;
      transition: var(--transition-normal);
      cursor: pointer;

      .navbar-login-link {
        text-decoration: none;
        transition: var(--transition-normal);
        color: var(--black);
      }
    }

    .login-btn:hover {
      background-color: var(--light-red);
      color: var(--black-light);

      .navbar-login-link {
        color: var(--white);
      }
    }

    .hamburger-icon {
      display: none;
      color: var(--white);
      margin: 0 10px;
    }
  }
}


/* Media Query 800px */
@media only screen and (max-width:800px) {

  .navbar-parent {
    z-index: 3;
    padding: 1rem 5px;

    .nav-left {
      .logo-link {
        .logo-img {
          font-size: 2rem;
        }

        .logo-name {
          font-size: 1.5rem;
        }
      }
    }


    .nav-center {
      flex-direction: column;
      position: absolute;
      top: 0;
      width: 100%;
      left: -100%;
      opacity: 0;
      height: 100%;
      transition: var(--normal);
      background-color: var(--black);
    }

    .nav-center.active {
      opacity: 1;
      left: 0;
    }

    .nav-right {
      .hamburger-icon {
        display: block;
        font-size: 1.5rem;
      }
    }
  }
}