.booking-card {
    background-color: var(--white);
    padding: 8px;
    border-radius: 8px;
    height: 175px;
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-between;

    .booking-card-left {
        width: 51%;
        height: 100%;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }

    .booking-card-right {
        width: 48%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .upper-text {
            display: flex;
            flex-direction: column;
            gap: 2px;

            & h2 {
                font-size: 22px;
                font-weight: 600;
                font-family: var(--secondary-font);
            }

            & p {
                color: var(--black-light);
                font-style: italic;
            }
        }

        .bottom-details {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            font-size: 18px;
            font-weight: 600;
            font-family: var(--secondary-font);
        }

        .booking-timings {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .timing-arrow {
                margin: 0 10px;
                font-size: 20px;
            }
        }
    }
}

@media only screen and (max-width:800px) {
    .booking-card {
        width: 100%;
    }
}

    @media only screen and (max-width:500px) {
        .booking-card {
            flex-direction: column;
            min-height: 450px;
            width: 100%;

            .booking-card-left {
                width: 100%;
                height: 65%;
            }

            .booking-card-right {
                width: 100%;
                height: 35%;
                gap: 10px;

                .upper-text {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    & h2 {
                        font-size: 20px;
                    }

                    & p {
                        color: var(--black-light);
                        font-size: 16px;
                    }
                }

                .bottom-details {
                    flex-wrap: wrap;
                    font-size: 16px;
                }

                .booking-timings {
                    display: flex;
                    font-size: 16px;
                    align-items: center;

                    .timing-arrow {
                        margin: 0 10px;
                        font-size: 12px;
                    }
                }
            }
        }
    }